body{
    background-color: black;
}

ul{
background-color: burlywood;
color: white;
height: 60px;
padding-top: 30px;
}

ul > li{
    width: 180px;
    display: inline-block;
}

li{
    /* color: white; */
    font-size: larger;
    font-style: italic;
    color: brown;
    padding-left: 70px;
    /* background-color: blueviolet; */
}

li:hover{
color: red;
}

.first{
    padding-top: 40px;
    height: 400px;
    width: 600px;
    /* background-color: aqua; */
    color: white;
    padding-left: 20px;
    font-size: 20px;
    float: left;

}

.first > input{
    background-color: green;
    height: 40px;
    width: 120px;
    color: white;
    border-radius: 60px;
    border: 2px solid springgreen;
}


.first > input:hover{
    background-color: red;
}


.second{
    height: 400px;
    width: 600px;
    /* background-color:rgb(220, 34, 65); */
    float: right;
    padding-top: 40px;
}

h1{
    padding-top: 40px;
    clear: both;
    color: white;
}